@model CarRentalHub.Models.CarAvailability

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .header-gradient {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 90px; /* Wysokość gradientu */
        background: linear-gradient(to bottom right, #0077cc, #004466); /* Gradient diagonalny w odcieniach niebieskiego */
    }
</style>

<div class="header-gradient"></div>

<h1>Anuluj rezerwację</h1>

<h3>Czy napewno chcesz odwołać rezerwację?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Anuluj rezerwację!" class="btn btn-danger" />
        <div style="margin-top: 10px;">
            <a asp-controller="Cars" asp-action="MyReservations">Powrót do "Moje rezerwacje"</a>
        </div>
    </form>
</div>
