@model CarRentalHub.Models.Car

@{
    ViewData["Title"] = "Delete";
}

<style>
    .header-gradient {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 90px; /* Wysokość gradientu */
        background: linear-gradient(to bottom right, #0077cc, #004466); /* Gradient diagonalny w odcieniach niebieskiego */
    }
</style>

<div class="header-gradient"></div>

<h1>Usuń ogłoszenie</h1>

<h3>Czy na pewno chcesz usunąć ogłoszenie?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleBrand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleBrand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Generation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Generation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BodyType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BodyType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearOfProduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearOfProduction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuelType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuelType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mileage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mileage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <div style="margin-top: 10px;">
            <a asp-controller="Cars" asp-action="MyOffers">Powrót do "Moje oferty"</a>
        </div>
    </form>
</div>
