@model Tuple<IEnumerable<CarRentalHub.Models.Car>, IEnumerable<CarRentalHub.Models.Photo>>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item1.First().VehicleBrand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item1.First().VehicleBrand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item1.First().CarModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item1.First().CarModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item1.First().Generation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item1.First().Generation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item1.First().BodyType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item1.First().BodyType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item1.First().YearOfProduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item1.First().YearOfProduction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item1.First().FuelType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item1.First().FuelType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item1.First().Mileage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item1.First().Mileage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item1.First().Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item1.First().Price)
        </dd>
    </dl>
</div>

<div class="col-md-4">
    <div class="form-group">
        @{
            var currentAdvertisementId = ViewData["CurrentAdvertisementId"] as int?;
            var photosForAdvertisement = Model.Item2.Where(p => p.AdvertisementId == currentAdvertisementId).ToList();
        }

        @if (photosForAdvertisement.Any())
        {
            <div class="row">
                @foreach (var photo in photosForAdvertisement)
                {
                    <div class="col-md-6">
                        @if (photo != null)
                        {
                            var index = photo.ImagePath.IndexOf("\\images\\", StringComparison.OrdinalIgnoreCase);
                            if (index != -1)
                            {
                                var relativeImagePath = photo.ImagePath.Substring(index).Replace("\\", "/");
                                <img src="@Html.Raw(relativeImagePath)" alt="Advertisement Image" class="img-thumbnail mb-2" />
                            }
                            else
                            {
                                <p>Photos are not available for this advertisement.</p>
                            }
                        }
                        else
                        {
                            <p>Photos are not available for this advertisement.</p>
                        }
                    </div>
                }
            </div>
        }
        else
        {
            <p>Photos are not available for this advertisement.</p>
        }
    </div>
</div>




<div>
    <a asp-action="Edit" asp-route-id="@Model?.Item1.First().ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
